@using niccom.net.Models
@model IEnumerable<niccom.net.Models.Tab>
<div class="navbar" style="width:@(Model.Count() * 165)px">
    <ul class="nav nav-tabs">
        @foreach (var tab in Model)
        {
            <li>
                <a href="#@tab.Name.Replace(" ", string.Empty)" data-toggle="tab">
                    <img alt="@tab.Name" src="@tab.Icon" title="@tab.Tooltip"></a>
            </li>
        }
    </ul>
</div>
<div class="clearfix"></div>
<div class="tab-content">
    @foreach (var tab in Model)
    {
        <div class="tab-pane" id="@tab.Name.Replace(" ", string.Empty)">
            @switch (tab.Type)
            {
                case TabContentType.Html:
                @Html.Raw(tab.Content)
                    break;
                case TabContentType.Partial:
                @Html.Partial(tab.Content)
                    break;
                default:
                @Html.Encode("Unsupported content type")
                    break;

            }
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("div.navbar ul.nav li:first a").tab("show");
        });
    </script>
}
